name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  lint-commits:
    name: Lint PR commits
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Commitlint
        run: npm install --save-dev @commitlint/cli @commitlint/config-conventional

      - name: Lint commits of PR
        run: |
          npx commitlint --from origin/main --to HEAD